---
import { getLocale } from "@/utils/get-locale";
import { useTranslation } from "../../i18n";

interface Props {
  title: string;
  subtitle: string;
  text: string;
  slug: string;
}

const { title, subtitle, text, slug } = Astro.props;
const t = useTranslation(getLocale(Astro.params.lang));
---

<li>
  <h4 class="text-xl font-mono">
    {slug}
    <span class="sr-only">{title}</span>
  </h4>
  <p class="text-sm text-foreground/70 lowercase">{subtitle}</p>
  <p class="text-sm sm:text-md">{text}</p>
  <a
    class="text-sm text-accent-contrast font-semibold relative after:absolute after:w-0 after:-bottom-0 hover:after:w-full after:h-px after:bg-accent-contrast after:left-0"
    href={`/projects/${slug}`}
    title={`${t("components.items.more")} ${t("components.items.about")} ${title}`}
  >
    {t("components.items.more")}
    <span class="sr-only">{t("components.items.about")} {title}</span>
  </a>
</li>
