---
type Link = {
  name: string;
  url: string;
};

const links: Link[] = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Projects",
    url: "/projects",
  },
  {
    name: "Socials",
    url: "/socials",
  },
  {
    name: "Blog",
    url: "/blog",
  },
];
---

<nav>
  <ul class="flex items-center justify-center gap-4 text-sm lowercase">
    {
      links.map((link) => (
        <li>
          <a
            href={link.url}
            class="text-foreground hover:text-accent relative after:absolute after:w-0 after:-bottom-0.5 hover:after:w-full after:h-px after:bg-accent after:left-0"
          >
            <kdb
              data-shortcut-element
              data-event-key={link.name[0].toLowerCase()}
              data-event-target={link.url}
              class="hidden"
            >
              [{link.name[0]}]
            </kdb>
            [{link.name}]
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { navigate } from "astro:transitions/client";

  const shortcuts = document.querySelectorAll("[data-shortcut-element]");
  const shortcutMap: Map<string, string> = new Map();

  shortcuts.forEach((shortcut) => {
    const element = shortcut as HTMLElement;
    const key = element.dataset.eventKey;
    const value = element.dataset.eventTarget;

    if (key && value) shortcutMap.set(key, value);
  });

  document.addEventListener("keydown", (event) => {
    const activeElement = document.activeElement as HTMLElement | null;

    if (
      activeElement &&
      (activeElement.tagName === "INPUT" || activeElement.tagName === "TEXTAREA" || activeElement.isContentEditable)
    )
      return;

    const isDialogOpen = [...document.querySelectorAll("dialog")].some((dialog) => (dialog as HTMLDialogElement).open);
    if (isDialogOpen) return;

    if (event.ctrlKey || event.metaKey) return;

    const target = shortcutMap.get(event.key);
    if (target) navigate(target);
  });
</script>
