---
interface Props {
  title: string;
  subtitle: string;
  text: string;
  links: { url: string; title: string }[];
}

const { title, subtitle, text, links } = Astro.props;
---

<li class="mt-8 first-of-type:mt-4">
  <h4 class="text-xl font-mono">{title}</h4>
  <p class="text-sm text-foreground/60 lowercase">{subtitle}</p>
  <p class="text-md">{text}</p>
  <ul class="flex space-x-2 mt-2 flex-wrap gap-2">
    {
      links.map((link) => (
        <li class="text-sm text-accent relative after:absolute after:w-0 after:-bottom-0 hover:after:w-full after:h-px after:bg-accent after:left-0">
          <a
            href={link.url}
            class="flex items-center gap-1"
            target="_blank"
            rel="noopener noreferrer"
            title={link.title}
          >
            {link.url.replace("https://", "").replace("http://", "")}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up-right"
            >
              <>
                <path d="M7 7h10v10" />
                <path d="M7 17 17 7" />
              </>
            </svg>
          </a>
        </li>
      ))
    }
  </ul>
</li>
