---
import "../styles/global.css";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";
import { SITE } from "../consts";
import Analytics from "../components/Analytics.astro";
import PostHog from "../components/PostHog.astro";

interface Props {
  title: string;
  description: string;
  keywords?: string[];
}

const { theme, locale } = Astro.locals;

const { title, description, keywords } = Astro.props;
const defaultKeywords: string[] = [
  "software developer",
  "coding projects",
  "development",
  "programming",
  "social media",
  "Pierre developer",
  "tech projects",
  "developer portfolio",
  "web developer",
  "Python",
  "JavaScript",
  "GitHub",
  "LinkedIn",
  "personal development",
];

const ogImage = ["home", "projects", "blog", "socials"].find((image) => Astro.originPathname.includes(image)) || "home";
---

<!doctype html>
<html lang={locale} dir={locale === "ar" ? "rtl" : "ltr"}>
  <head>
    <title>Pierre Guéroult - {title}</title>
    <meta charset="utf-8" />
    <meta name="author" content="Pierre Guéroult" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content={keywords ? [...keywords, ...defaultKeywords].join(", ") : defaultKeywords.join(", ")}
    />
    <meta property="og:title" content={`Pierre Guéroult - ${title}`} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={SITE} />
    <meta property="og:image" content={`${SITE}/open-graph/banner-${ogImage}.png`} />
    <meta property="og:site_name" content="Pierre Guéroult" />
    <meta property="og:locale" content={locale} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={`Pierre Guéroult - ${title}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${SITE}/open-graph/banner-${ogImage}.png`} />
    <meta property="twitter:site" content="@pierregueroult1" />
    <meta property="twitter:creator" content="@pierregueroult1" />
    <meta name="robots" content="index, follow" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={SITE} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <ClientRouter />
  </head>
  <body class="font-mono bg-background text-foreground" data-theme={theme}>
    <Header />
    <main class={`mx-auto max-w-4xl w-full px-4 pb-8`}>
      <slot />
    </main>
    <Analytics />
    <PostHog />
  </body>
</html>
